@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white font-sans;
  }
}

.neon-text {
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.7);
}

.neon-border {
  box-shadow: 0 0 15px rgba(188, 19, 254, 0.5);
}
